RealTime Translation/SimpleT_Real_Time_Translation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translate_Case</name>
        <label>Translate Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>simpleT__ST_TranslateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_translations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>engine</name>
            <value>
                <stringValue>ST Google Translate Default</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetLanguages</name>
            <value>
                <elementReference>agentLanguage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>simpleT__ST_TranslateInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>translationResults</assignToReference>
            <name>translations</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_language</name>
        <label>Add language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentLanguage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>en</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentLanguage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>de</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentLanguage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentLanguage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>it</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentLanguage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>pt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckiftranslationisGerman</name>
        <label>Check if translation is German</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_translations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_translations.language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_with_translations</targetReference>
            </connector>
            <label>Is German</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SimpleT Real Time Translation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SimpleT Real Time Translation</label>
    <loops>
        <name>Loop_through_translations</name>
        <label>Loop through translations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>translationResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckiftranslationisGerman</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_with_translations</name>
        <label>Update with translations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_translations</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop_through_translations.translation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Add_language</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>agentLanguage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>translationResults</name>
        <apexClass>simpleT__ST_TranslationResponseWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
